{:paths ["src"]

 ;; It may seem redundant to include this key with the value being the same as the usual default
 ;; (as set in the “installation” deps.edn — the one that lives with Clojure’s files). This is
 ;; indeed included here for a somewhat esoteric reason: because Cambada, which is used to build the
 ;; “überjar” for this tool (see the :uberjar alias below) can’t access the installation deps.edn
 ;; and doesn’t want to make assumptions for us. For more info see:
 ;;   https://github.com/luchiniatwork/cambada/issues/19#issuecomment-490013695
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}

 :deps
 {org.clojure/clojure         {:mvn/version "1.10.1"}
  org.clojure/data.xml        {:mvn/version "0.2.0-alpha6"}

  ; tools.cli has a deps.edn file but is somehow incompatible with Cambada’s uberjar process when
  ; brought in as a gitlib — for some reason it doesn’t get AOT compiled, nor does the source code
  ; get included if we use --copy-source. So we’ll have to stick with Maven for now for this lib.
  org.clojure/tools.cli       {:mvn/version "1.0.194"}

  clj-chrome-devtools         {:git/url "https://github.com/tatut/clj-chrome-devtools" :sha "a1b1b0903ae5ba56eaada8496ed3785a53d8cc06"}
  clj-commons/clj-yaml        {:mvn/version "0.7.0"}
  expound                     {:git/url "https://github.com/bhb/expound" :sha "e90a16162e97d16904d2353f46084e139b0e8f37" :tag "master"}
  com.cognitect/anomalies     {:mvn/version "0.1.12"}
  hawk                        {:mvn/version "0.2.11"}
  medley                      {:mvn/version "1.2.0"}

  ;; Our code doesn’t use joda-time directly; it’s specified here as an override to resolve a
  ;; conflict between test.chuck which depends (indirectly) on joda-time 2.7 and cambada which
  ;; depends (indirectly) on joda-time 2.8. The conflict was causing cambada’s uberjar process
  ;; to fail. I’m overriding the dependency here at the root level, which takes precedence over the
  ;; profiles, because I want to ensure that we’ll use the same version of joda-time when running
  ;; the tests and building a distribution package (uberjar).
  joda-time/joda-time {:mvn/version "2.10.5"}

  ;; Conflicting versions of jna are resolved via org.clojure/tools.gitlibs and hawk.
  net.java.dev.jna/jna          {:mvn/version "5.5.0"}
  net.java.dev.jna/jna-platform {:mvn/version "5.5.0"}

  ;; test.chuck is in the main dependency list, rather than in the test profile,
  ;; because we’re using one of its generators in a spec in a source file.
  ;; This means we’ll also need org.clojure/test.check at runtime. Not ideal,
  ;; but worth it.
  com.gfredericks/test.chuck {:mvn/version "0.2.10"}}

 :aliases {:dev           {:extra-deps  {org.clojure/tools.trace    {:mvn/version "0.7.9"}
                                         inspectable                {:mvn/version "0.2.2"}}
                           :jvm-opts    ["-XX:-OmitStackTraceInFastThrow"
                                         "--illegal-access=deny"]}

           :repl          {:jvm-opts    ["-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}

           :test          {:extra-paths ["test"]
                           :extra-deps  {org.clojure/test.check     {:mvn/version "0.10.0"}
                                         cloverage                  {:mvn/version "1.1.1"}
                                         eftest                     {:mvn/version "0.5.8"}
                                         orchestra                  {:mvn/version "2018.12.06-2"}
                                         image-resizer              {:mvn/version "0.1.10"}
                                         info.debatty/java-string-similarity {:mvn/version "1.2.1"}}
                           ; It’s crucial to ensure that the JVM’s default character encoding is
                           ; UTF-8 because the renderer outputs UTF-8 encoded text to its stderr,
                           ; which the main program (the JVM program) then needs to read correctly.
                           ; We’ve found that some Linux systems seem to default to US-ASCII which
                           ; will generally break the ability of the main program to properly parse
                           ; the error output of the renderer.
                           :jvm-opts    ["-Dfile.encoding=UTF8"
                                         ; Prevent the Java app icon from popping up and grabbing
                                         ; focus on MacOS.
                                         "-Dapple.awt.UIElement=true"
                                         "-XX:-OmitStackTraceInFastThrow"
                                         "--illegal-access=deny"
                                         "-Djava.awt.headless=true"]}

           :test/run      {:main-opts   ["-m" "fc4.test-runner.runner"]}

           :test/coverage {:main-opts   ["-m" "cloverage.coverage"
                                         "--src-ns-path" "src"
                                         "--test-ns-path" "test"
                                         "--runner" ":fc4.test-runner"
                                         "--fail-threshold" "65"
                                         "--codecov"]}

           ;; Enables running from source:
           :main          {:main-opts   ["-m" "fc4.io.cli.main"]
                                         ; Prevent the Java app icon from popping up and grabbing
                                         ; focus on MacOS.
                           :jvm-opts    ["-Dapple.awt.UIElement=true"
                                         "-Djava.awt.headless=true"
                                         "--illegal-access=deny"]}

           ; Do NOT upgrade kibit past 0.1.6 until this bug is fixed: https://git.io/Je3vB as it
           ; makes kibit nearly useless for this project.
           :kibit         {:deps        {jonase/kibit {:mvn/version "0.1.6"}}
                           :main-opts   ["-e"
                                         "(require,'[kibit.driver,:as,k]),(k/external-run,[\"src\"],nil)"]}

           :lint          {:deps        {cljfmt                     {:mvn/version "0.6.4"}
                                         github-JamesLaverack/cljfmt-runner
                                         {:git/url "https://github.com/JamesLaverack/cljfmt-runner"
                                          :sha     "97960e9a6464935534b5a6bab529e063d0027128"}}
                           :main-opts   ["-m" "cljfmt-runner.check"]}

           :lint/fix      {:main-opts   ["-m" "cljfmt-runner.fix"]}

           ; Eastwood is Yet Another lint tool for Clojure.
           :eastwood      {:extra-deps  {eastwood {:git/url "https://github.com/jonase/eastwood"
                                                   :sha "a6e2771d4c8920582b68ab49522ede33e344bb99"
                                                   :tag "eastwood-0.3.6"}}
                           :main-opts   ["-m" "eastwood.lint" {:source-paths ["src"]
                                                               :exclude-linters [:constant-test
                                                                                 :implicit-dependencies]
                                                               :parallelism? :naive}]}

           :uberjar       {:extra-deps  {mikeananev/cambada {:git/url "https://github.com/mikeananev/cambada"
                                                             :sha "4366095c0d6e08efb9f32a2369405e2582b003d4"}}
                           :main-opts   ["-m" "cambada.uberjar"
                                         "-m" "fc4.io.cli.main"
                                         "--aot" "all"
                                         "--no-copy-source"
                                         "--app-artifact-id" "fc4"
                                         "--app-version" "SNAPSHOT"
                                         "--out" "target"]}

           :outdated      {:extra-deps  {olical/depot {:git/url "https://github.com/Olical/depot"
                                                       :sha "cc9e732f32a1cfb74c5427f5d36187b0dfa447e6"
                                                       :tag "master"}}
                           :main-opts   ["-m" "depot.outdated.main"]}}}
